<ion-header>
  <ion-col class="headerbg"><img src="assets/images/header.png" alt=""/></ion-col>
  <ion-col class="headerimgs">
    <ion-col class="backlogo">
      <img src="assets/icon/back.png" alt=""/>
      <img src="assets/icon/toolbar.png" alt=""/>
    </ion-col>
    <ion-col class="centerlogo">
      <img src="assets/images/logo.png" alt=""/>
    </ion-col>
    <ion-col class="rightdots">
      <img src="assets/icon/dots.png" alt=""/>
    </ion-col>
  </ion-col>
  <ion-toolbar>
    <ion-title>
      <ion-col class="rightcnn">
        <img src="assets/images/cnn.png" alt=""/>
      </ion-col>
   </ion-title>
  </ion-toolbar>

</ion-header>
