<ion-content>
  <!--<button ion-button (click)="sendPostRequest()">Post Data</button>-->
  <div class="home-wrap">
      <div class="logo">
        <img src="assets/images/logo-home.png" alt=""/>
      </div>
  <form #opsearch = "ngForm" (ngSubmit) = "onClickSubmit(opsearch.value)" >
    <ion-list class="list-transparent">
      <!--<ion-list-header class="ios hydrated">
        Recent Conversations
      </ion-list-header>-->

      <ion-item color="none" lines="none" class="common-list">
        <ion-avatar  slot="start" class="hydrated">
          <img src="assets/icon/opera_ico.png" alt=""/>
        </ion-avatar>
        <div class="inner-common-list">
          <ion-label class="list-heading">Opera</ion-label>
          <ion-select  name="opera_id" placeholder="Search an Opera" interface="popover" (ionChange)="onSelectChange($event)" [(ngModel)]="operaId">
            <ion-select-option [value]="item.id" *ngFor="let item of filterData.opera">{{item.name}}</ion-select-option>
          </ion-select>            
        </div>  
      </ion-item>


      <ion-item color="none" lines="none" class="common-list">
        <ion-avatar slot="start" class="hydrated">
          <img src="assets/icon/theatre_ico.png">
        </ion-avatar>
        <div class="inner-common-list">
          <ion-label class="list-heading">Theatre</ion-label>
          <ion-select placeholder="Search Opera Theatre" interface="popover" [(ngModel)]="theatreId" name="theatre_id">
            <ion-select-option [value]="item.id" *ngFor="let item of filterData.theatre">{{item.name}}</ion-select-option>
          </ion-select>            
        </div>
      </ion-item>

      <ion-item color="none" lines="none" class="common-list">
        <ion-avatar slot="start" class="hydrated">
          <img src="assets/icon/author_ico.png">
        </ion-avatar>
        <div class="inner-common-list">
          <ion-label class="list-heading">Author</ion-label>
          <ion-select placeholder="Search an Author" interface="popover" [(ngModel)]="authorId" name="author_id">
            <ion-select-option [value]="item.id" *ngFor="let item of filterData.author">{{item.name}}</ion-select-option>
          </ion-select>            
        </div>
      </ion-item>
    </ion-list>
      <ion-button shape="round" type="submit" size="large" color="light" fill="outline" class="search-btn">Search</ion-button>
  </form>
  </div>
</ion-content>
